<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="app.luma.shareprobe">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
    <application android:label="Luma Share Probe" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".ProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".SharedProvider" android:authorities="app.luma.shareprobe.media"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
